body {
  background-color: #e9ecef;
}
/*Navigation*/
.navbar { justify-content: flex-end;
background-color: #e9ecef;}
.navbar a {color:white;
  padding-left: 10px;}

/*Header*/
  .jumbotron{
    background:linear-gradient(rgb(21, 114, 182),rgb(193, 193, 193),rgb(228, 77, 38));
    display: flex;
    margin-bottom: 0;
    border-radius: 0px;
  }
  .jumbotron img{
    /*border-top: solid black 20px;*/
    border-right: double black 20px;
    border-bottom: double black 20px;
    border-radius: 0 0 100px 100px;
  }
  .jumbotron div{
    margin-left: 20px;
  }

/*Skills*/
section {
  display: flex;
  flex-direction: column;

}
.skills{
  background: linear-gradient(rgb(228, 77, 38),rgb(240, 219, 79),rgb(21, 114, 182));

}
section .section-title {
  display: inline-flex;
  justify-content:center;
  }
  .section-title h1 {
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }
section .svg {
  display: inline-flex;
  justify-content: center;
  }
  svg {width: 75%;
        height: 75%;}
  section .svg .language{
    display: inline-flex;
  }
  section .svg .language span {
  visibility: hidden;
}
 section .svg .language:hover span{
  visibility: visible;

}

/*Projects*/
div .sample {
  height: 80%;
  width: 100%;
}



.plist .plist-title {
  display: flex;
  justify-content: center;
}
/*Media Queries*/
@media only screen and (max-width:400px){
  .jumbotron img {
    width: 50%;
  }
  section .svg .language span {
  visibility: visible;
}
}
/*About Me */
.aboutme   {
  background:linear-gradient(rgba(193, 193, 193,1),rgba(193, 193, 193,0));
}
.aboutme p { text-indent: 25px;}
#contactme {
  background:linear-gradient(rgba(240, 219, 79,1),rgba(240, 219, 79,0))

}
/*Footer*/
footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(33, 37, 41);
  color:white;
}
footer .fat {
  font-size: 20px;
}
